*,
*::after,
*::before {
  box-sizing: border-box;
}

.flexBox {
  display: flex;
}

img {
  width: 180px;
  height: 80px;
}

nav {
  height: 200px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.buttonStyle {
  width: 10%;
  height: 60px;
  border: 1px solid red;
  border-radius: 100px;
  background-color: yellow;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.bigButton {
  max-height: unset;
  width: 300px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

#shopText {
  font-weight: bold;
}
